# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore Maven target directories
**/target/

# Ignore macOS system files
.DS_Store

# Ignore logs
*.log

# Ignore environment files
*.env

# Ignore compiled Java class files
*.class

# Ignore temporary files
*.tmp
*.swp

# Ignore system trash folders
.Trashes

